# Unicorn Startup Data 2022

### Importing Liberary

In [28]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
import numpy as np
import pandas as pd
import matplotlib as mp

### Reading Data Set

##### Checking the Encoding of Data Set

In [43]:
pwd

'F:\\Data Science Materials\\Python_Env\\Unicorn_Startup-Till_2022'

In [60]:
with open('F:\\Data Science Materials\\Python_Env\\Unicorn_Startup-Till_2022/Unicorn_Data-Set.csv') as f:
    print(f)

<_io.TextIOWrapper name='F:\\Data Science Materials\\Python_Env\\Unicorn_Startup-Till_2022/Unicorn_Data-Set.csv' mode='r' encoding='cp1252'>

##### Reading Encoded CSV file into DataFrame df

In [73]:
Data = pd.read_csv(r'F:\\Data Science Materials\\Python_Env\\Unicorn_Startup-Till_2022/Unicorn_Data-Set.csv',encoding = 'cp1252')

In [74]:
Data.head()

,Company,Valuation($B),Date Joined,Country,CityÂ,Industry,Investors
0,ByteDance,140.00,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.00,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.00,07-03-2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.00,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.00,01-08-2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

## About Data Set

In [ ]:
Company	Valuation($B)	Date Joined	Country	CityÂ	Industry	Investors

In [97]:
Data.Industry.unique()

array(['Artificial intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics',
       'Sequoia Capital, Thoma Bravo, Softbank', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Kuang-Chi',
       'Tiger Global Management, Tiger Brokers, DCM Ventures',
       'Jungle Ventures, Accel, Venture Highway',
       'Artificial Intelligence', 'GIC. Apis Partners, Insight Partners',
       'Vision Plus Capital, GSR Ventures, ZhenFund',
       'Hopu Investment Management, Boyu Capital, DC Thomson Ventures',
       '500 Global, Rakuten Ventures, Golden Gate Ventures',
       'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund',
       'Sequoia Capital China, Shunwei Capital Partners, Qualgro',
       'Dragonfly Captial, Qiming Venture Partners, DST Global',
       'SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures',
       'Mundi Ventures, Doqling Capital Partners, Activant Capital',
       'Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures',
       'Andreessen Horowitz, DST Global, IDG Capital',
       "B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",
       'Temasek, Guggenheim Investments, Qatar Investment Authority'],
      dtype=object)

In [98]:
Data.Country.unique()

array(['China', 'United States', 'Australia', 'United Kingdom', 'Bahamas',
       'India', 'Indonesia', 'Turkey', 'Germany', 'Hong Kong',
       'Seychelles', 'Sweden', 'Mexico', 'Estonia', 'Canada',
       'Netherlands', 'France', 'Israel', 'Finland', 'Colombia',
       'Belgium', 'Brazil', 'South Korea', 'Denmark', 'Switzerland',
       'Lithuania', 'Austria', 'Ireland', 'Singapore', 'Vietnam',
       'United Arab Emirates', 'Argentina', 'Spain', 'Japan',
       'Luxembourg', 'Nigeria', 'Philippines', 'Croatia', 'Senegal',
       'Malaysia', 'Bermuda', 'Norway', 'South Africa', 'Ecuador',
       'Chile', 'Thailand', 'Czech Republic', 'Italy'], dtype=object)

In [62]:
df.head()

,Company,Valuation($B),Date Joined,Country,CityÂ,Industry,Investors
0,ByteDance,140.00,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.00,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.00,07-03-2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.00,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.00,01-08-2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [78]:
#Total Companies by Country
Data.groupby(['Country']).count()

,Company,Valuation($B),Date Joined,CityÂ,Industry,Investors
Country,,,,,,
Argentina,1,1,1,1,1,1
Australia,8,8,8,8,8,8
Austria,2,2,2,2,2,2
Bahamas,1,1,1,1,1,0
Belgium,3,3,3,3,3,3
Bermuda,1,1,1,1,1,1
Brazil,17,17,17,17,17,17
Canada,19,19,19,19,19,19
Chile,2,2,2,2,2,2
China,173,173,173,173,173,172
Colombia,3,3,3,3,3,3
Croatia,2,2,2,2,2,2
Czech Republic,1,1,1,1,1,1
Denmark,2,2,2,2,2,2
Ecuador,1,1,1,1,1,1
Estonia,2,2,2,2,2,2
Finland,4,4,4,4,4,4
France,24,24,24,24,24,24
Germany,29,29,29,29,29,29
Hong Kong,7,7,7,7,7,4
India,69,69,69,69,69,69
Indonesia,6,6,6,6,6,6
Ireland,6,6,6,6,6,6
Israel,22,22,22,22,22,22
Italy,1,1,1,1,1,1
Japan,6,6,6,6,6,6
Lithuania,2,2,2,2,2,2
Luxembourg,1,1,1,1,1,1
Malaysia,1,1,1,1,1,1
Mexico,8,8,8,8,8,8
Netherlands,7,7,7,7,7,7
Nigeria,1,1,1,1,1,1
Norway,5,5,5,5,5,5
Philippines,2,2,2,2,2,2
Senegal,1,1,1,1,1,1
Seychelles,1,1,1,1,1,1
Singapore,13,13,13,13,13,0
South Africa,2,2,2,2,2,2
South Korea,15,15,15,15,15,15
Spain,4,4,4,4,4,4
Sweden,8,8,8,8,8,8
Switzerland,6,6,6,6,6,6
Thailand,2,2,2,2,2,2
Turkey,3,3,3,3,3,3
United Arab Emirates,3,3,3,3,3,3
United Kingdom,46,46,46,46,46,46
United States,633,633,633,633,633,633
Vietnam,2,2,2,2,2,2

In [92]:
Data.groupby(['Industry']).count()

,Company,Valuation($B),Date Joined,Country,CityÂ,Investors
Industry,,,,,,
"500 Global, Rakuten Ventures, Golden Gate Ventures",1,1,1,1,1,0
"Andreessen Horowitz, DST Global, IDG Capital",1,1,1,1,1,0
Artificial Intelligence,11,11,11,11,11,11
Artificial intelligence,74,74,74,74,74,74
Auto & transportation,39,39,39,39,39,39
"B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",1,1,1,1,1,0
Consumer & retail,28,28,28,28,28,28
Cybersecurity,58,58,58,58,58,58
Data management & analytics,45,45,45,45,45,45
"Dragonfly Captial, Qiming Venture Partners, DST Global",1,1,1,1,1,0
E-commerce & direct-to-consumer,103,103,103,103,103,103
Edtech,32,32,32,32,32,32
Fintech,237,237,237,237,237,237
"GIC. Apis Partners, Insight Partners",1,1,1,1,1,0
Hardware,38,38,38,38,38,38
Health,93,93,93,93,93,93
"Hopu Investment Management, Boyu Capital, DC Thomson Ventures",1,1,1,1,1,0
Internet software & services,222,222,222,222,222,222
"Jungle Ventures, Accel, Venture Highway",1,1,1,1,1,0
Kuang-Chi,1,1,1,1,1,0
Mobile & telecommunications,37,37,37,37,37,36
"Mundi Ventures, Doqling Capital Partners, Activant Capital",1,1,1,1,1,0
Other,65,65,65,65,65,65
"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund",1,1,1,1,1,0
"Sequoia Capital China, Shunwei Capital Partners, Qualgro",1,1,1,1,1,0
"Sequoia Capital, Thoma Bravo, Softbank",1,1,1,1,1,0
"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures",1,1,1,1,1,0
"Supply chain, logistics, & delivery",65,65,65,65,65,65
"Temasek, Guggenheim Investments, Qatar Investment Authority",1,1,1,1,1,0
"Tiger Global Management, Tiger Brokers, DCM Ventures",1,1,1,1,1,0
Travel,14,14,14,14,14,14
"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures",1,1,1,1,1,0
"Vision Plus Capital, GSR Ventures, ZhenFund",1,1,1,1,1,0

In [93]:
# Relationship b/w Industry and Country
Data.groupby(['Industry','Country']).count()

                                                                  Company  \
Industry                                           Country
500 Global, Rakuten Ventures, Golden Gate Ventures Singapore            1
Andreessen Horowitz, DST Global, IDG Capital       Hong Kong            1
Artificial Intelligence                            China                4
                                                   United States        7
Artificial intelligence                            Bermuda              1
...                                                                   ...
Travel                                             Spain                1
                                                   Sweden               1
                                                   United States        1
Vertex Ventures SE Asia, Global Founders Capita... Singapore            1
Vision Plus Capital, GSR Ventures, ZhenFund        Singapore            1

                                                                  Valuation($B)  \
Industry                                           Country
500 Global, Rakuten Ventures, Golden Gate Ventures Singapore                  1
Andreessen Horowitz, DST Global, IDG Capital       Hong Kong                  1
Artificial Intelligence                            China                      4
                                                   United States              7
Artificial intelligence                            Bermuda                    1
...                                                                         ...
Travel                                             Spain                      1
                                                   Sweden                     1
                                                   United States              1
Vertex Ventures SE Asia, Global Founders Capita... Singapore                  1
Vision Plus Capital, GSR Ventures, ZhenFund        Singapore                  1

                                                                  Date Joined  \
Industry                                           Country
500 Global, Rakuten Ventures, Golden Gate Ventures Singapore                1
Andreessen Horowitz, DST Global, IDG Capital       Hong Kong                1
Artificial Intelligence                            China                    4
                                                   United States            7
Artificial intelligence                            Bermuda                  1
...                                                                       ...
Travel                                             Spain                    1
                                                   Sweden                   1
                                                   United States            1
Vertex Ventures SE Asia, Global Founders Capita... Singapore                1
Vision Plus Capital, GSR Ventures, ZhenFund        Singapore                1

                                                                  CityÂ   \
Industry                                           Country
500 Global, Rakuten Ventures, Golden Gate Ventures Singapore           1
Andreessen Horowitz, DST Global, IDG Capital       Hong Kong           1
Artificial Intelligence                            China               4
                                                   United States       7
Artificial intelligence                            Bermuda             1
...                                                                  ...
Travel                                             Spain               1
                                                   Sweden              1
                                                   United States       1
Vertex Ventures SE Asia, Global Founders Capita... Singapore           1
Vision Plus Capital, GSR Ventures, ZhenFund        Singapore           1

                                                                  Investors
Industry                                           Country
500 Global, Rakuten Ventures, Golden Gate Ventures Singapore              0
Andreessen Horowitz, DST Global, IDG Capital       Hong Kong              0
Artificial Intelligence                            China                  4
                                                   United States          7
Artificial intelligence                            Bermuda                1
...                                                                     ...
Travel                                             Spain                  1
                                                   Sweden                 1
                                                   United States          1
Vertex Ventures SE Asia, Global Founders Capita... Singapore              0
Vision Plus Capital, GSR Ventures, ZhenFund        Singapore              0

[219 rows x 5 columns]

In [95]:
bygroup_CI= Data.groupby(['Country', 'Industry'])

bygroup_CI.head()

,Company,Valuation($B),Date Joined,Country,CityÂ,Industry,Investors
0,ByteDance,140.00,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.00,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.00,07-03-2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.00,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.00,01-08-2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1164,Polarium,1.00,05-03-2022,Sweden,Kista,Other,AMF Pensionsforsakring
1165,Opn,1.00,05-09-2022,Japan,Tokyo,Fintech,"Sinar Mas Digital Ventures, JIC Venture Growth..."
1166,Remarkable,1.00,05-10-2022,Norway,Oslo,Internet software & services,Spark Capital
1167,Habi,1.00,05-11-2022,Colombia,Bogota,Fintech,"Homebrew, Inspired Capital, Tiger Global Manag..."
1172,Vayyar,1.00,06-06-2022,Israel,Yehud,Hardware,"Battery Ventures, Bessemer Venture Partners, M..."

In [63]:
type(Data)
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178 entries, 0 to 1177
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        1178 non-null   object
 1   Valuation($B)  1178 non-null   object
 2   Date Joined    1178 non-null   object
 3   Country        1178 non-null   object
 4   CityÂ          1178 non-null   object
 5   Industry       1178 non-null   object
 6   Investors      1160 non-null   object
dtypes: object(7)
memory usage: 64.5+ KB

In [64]:
Data.describe()

,Company,Valuation($B),Date Joined,Country,CityÂ,Industry,Investors
count,1178,1178,1178,1178,1178,1178,1160
unique,1175,221,689,48,286,33,1144
top,Fabric,1.00,7/13/2021,United States,San Francisco,Fintech,Sequoia Capital
freq,2,272,9,633,167,237,3

### Comapany with More than $100B Valuation

In [65]:
Data[Data['Valuation($B)']<100]

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
#type(Data['Valuation ($B)'])

In [51]:
#Data['Valuation ($B)'] = Data['Valuation ($B)'].astype(int)